* {
  font-family:'Helvetica Neue',Arial,Helvetica,sans-serif
}
textarea:focus, input:focus{
  outline: none;
}
body {
  height:100%;
  width:95%;
  background-color:#063048;
  color:#e5ffff;
  padding:25px;
}
#header {
  position:relative;
  border-bottom:1px solid #dfffff; 
  line-height:13px;
  margin-right:40px;
}
.motto {
  position: absolute;
  right: 38px;
}
.paddingSifirla{
  padding-right:0px;
  padding-left:0px;
}
.main {
  text-align: center;
  margin-top: 54px;
}
.search-container {
  background-color:#3d5165;
  width:600px;
  height:70px;
  display:inline-flex;
  margin:10px;
  align-items:center;
  padding:10px;
}
.search-ic {
  justify-content: space-between;
  height: 100%;
  display: inline-flex;
  width: 100%;
  padding: 10px;

}
.search-ic>span {
  display:flex;
  align-items: center;
  justify-content: inherit;
}


.options {
  margin-top: 106px;
  position: absolute;
  list-style-type: none;
  background-color: black;
  width: 191px;
  padding: 0px;
  line-height: 2;
  cursor:pointer;
}

.icon-origin {
  background-image: url('./images/sprite-icons-w3.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -262px -362px;
  height: 22px;
  width: 31px;
}
.icon-destination {
  background-image: url('./images/sprite-icons-w3.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -262px -411px;
  height: 22px;
  width: 31px;
}
.icon-date {
  background-image: url('./images/sprite-icons-w3.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -381px -581px;
  height: 46px;
  width: 44px;
}
#icon-person {
  background-image: url('./images/sprite-icons-w3.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -406px -467px;
  height: 35px;
  width: 11px;
}
#icon-person:hover {
  cursor:pointer;
}
.icon-go {
  background-image: url('./images/sprite-icons-w3.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -492px -289px;
  height: 52px;
  width: 38px;
}
.origin, .destination {
  height:100%;
  background-color:white;
  border-right:1px solid black;
  
}
.search-input {
  height: 53px;
  border: none;
  width: 148px;
    margin-left: 8px;
}

#person {
  background-color: white;
  width: 209px;
  height: 100px;
  font-size: 13px;
  color: black;
  text-align: left;
  padding: 11px;
  margin-top:19px;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color:transparent;
  border-color: transparent;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: transparent;
}
.btn-primary {
  color: #fff;
  background-color:transparent;
  border-color: transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
#yolcu-sinifi{
  margin-top:10px;
  font-size:10px;
}
#yolcu-sayisi{
  margin-top:20px;
}
#yolcu-sayisi button{
  border-width:1px;
  margin:0px 10px;
}

.domainname{
  font-weight:600;
}

/* Uçuş Listesi

*/

.liste {
  width: 600px;
  margin: 20px auto;
  background-color:white;
  color:#232b39;
}
.liste>table {
  width:100%;
}
.baslik {
  background-color:#232b39;
  height:40px;
  text-align:right;
}

.zaman-fiyat {
  background-color:#f7f7f7;
  margin:"0px";
}

.zaman-fiyat td {
  border-spacing:0px;
}
.zaman-fiyat span {
  display:inline-block;
}
.ucus {
  height: 25px;
  background-color: red;
  width: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 14px;
}
.guzergah-bilgisi {
  margin-bottom:40px;
}

.promosyon {
  margin-bottom:20px;
}

.promosyon-text1, .promosyon-text2 {
  font-size:12px;
  margin-top:10px;
}

.ucus-detay {
  width:33%;
  display:inline-block;
  padding:0px 5px;
  box-sizing:border-box;
}

.ucus-detay .baslik1 {
  background-color:#f3f5fa;
  position:relative;
  height:40px;
  display:flex;
  font-size: 13px;
  padding:10px 5px 0px 5px;
}

.ucus-detay .bilgi {
  height:125px;
  border: 1px solid #d9e1e7;
}
.ucus-detay .satir {
  height:25px;
  border-top:1px solid #d9e1e7;
  border-bottom:1px solid #d9e1e7;
  font-size:10px;
  display:flex;
  align-items: center;
  padding-left:5px;
}

.ucus-detay .sec {
  /* background-color:#b9c1c7; */
  background-color:#e81932;
  color:white;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  border: 0px;
}

.ucus-detay .sec2 {
  /* background-color:#b9c1c7; */
  background-color:#f7f7f7;
  color:gray;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  border: 0px;
  cursor:default;
}